.Select {
  .select-button,
  .select-list {
    cursor: pointer;
    width: inherit;
  }

  .select {
    &-wrapper {
      position: relative;
      width: 100%;
    }

    &-button {
      & + .select-list {
        /* TODO: */
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        list-style-type: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 2.3rem;
        transform: scaleY(0);
        visibility: hidden;
        transition: 0.25s ease-in-out;
        z-index: 10;
      }

      &[aria-expanded='true'] {
        & + .select-list {
          opacity: 1;
          transform: scaleY(1);
          visibility: visible;
        }
      }
    }
  }
}
