.Header {
  align-items: center;
  background: var(--heavy-metal-70);
  color: var(--white);
  display: flex;
  font-size: 0.7rem;
  font-weight: 600;
  justify-content: start;
  padding: 0.5rem 1rem;
  width: 100%;

  .avatar {
    border-radius: 50%;
    height: 1rem;
    margin-right: 0.5rem;
    width: 1rem;
  }
}
